/swordFightProto/.project
/swordFightProto/.pydevproject
/swordFightProto/dir_sound/dir_soundeffects/desktop.ini
/swordFightProto/dir_actors/__pycache__

/swordFightProto/dir_control/__pycache__

/swordFightProto/dir_image/__pycache__

/swordFightProto/dir_params/__pycache__

/swordFightProto/dir_renderer/__pycache__

/swordFightProto/dir_scenery/__pycache__

/swordFightProto/dir_logging/__pycache__

/swordFightProto/dir_logging/errors
/swordFightProto/dir_unittest/dir_logging
/swordFightProto/src/__pycache__
errors
/swordFightProto/dir_sound/dir_music/*.mp3
/swordFightProto/dir_sound/dir_soundeffects/*.wav
/swordFightProto/dir_sound/__pycache__/sound_object.cpython-35.pyc
/swordFightProto/dir_sound/__pycache__

*__pycache__*
/swordFightProto/dir_image/dir_tilesets/*.bmp
/swordFightProto/dir_sound/dir_ambiance/*.mp3
/swordFightProto/dir_sound/dir_ambiance/*.wav
